{:paths ["src"] ; where your cljd files are
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "4ee792f3044589c96b019c2a86db9b23f1b283ab"}
        amjil/mongol-virtual-keyboard
        {:git/url "https://github.com/amjil/mongol-virtual-keyboard.git"
         :sha "bb83ef01b9610053e8529c453b102db74a40b5a7"} 
        amjil/mongol-date-picker
        {:git/url "https://github.com/amjil/mongol-date-picker.git"
         :sha "dbbb93cc8a558dbd599bce42f110e8a662b8612a"}
        amjil/mgl-components
        {:git/url "https://github.com/amjil/mgl-components.git"
         :sha "86a24fa48e0b737a2ca2bac649c3991641982559"}
        }
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :flutter
             :main minii-focus.main}}
