{:paths ["src"] ; where your cljd files are
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "9385be3c88ab6593350fdda50d86af985224971b"}
        amjil/mongol-virtual-keyboard
        {:git/url "https://github.com/amjil/mongol-virtual-keyboard.git"
         :sha "1f3e40d9b1d7be45820e0b1b1bc6a5322a79e3f9"}
        }
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :flutter
             :main minii-focus.main}}
